/buil*/
out/
scripts/
*.o
.cache/
compile_commands.json
Makefile
!/Makefile
*.obj
*.exe.dll
*.so
*.a
*.log
*.vscode
*idea
*DS_Store
Thumbs.db

*.txt

*.md
!README.md
!features.md
!development.md
skills/
perf_results.txt
